$color-white-primary: #fff;
$color-white-secondary: #EFEFEF;

$color-black-primary: #000;
$color-black-secondary: #181718;
$color-black-tertiary: #181818;

$color-grey-light: #f2f2f2;
$color-grey-dark: #f3f3f3;

$color-green-primary: #dcfe00;

$default-font-size: 1.6rem;