$color-white-primary: #fff;
$color-white-secondary: #EFEFEF;

$color-black-primary: #000;
$color-black-secondary: #272727;
$color-black-tertiary: #3c3c3c;

$color-grey-light: #f2f2f2;
$color-grey-dark: #bbbbbb;

$color-green-primary: #d5e801;
$color-green-secondary: #9fe801;
$color-green-secondary-dark: #7db00f;

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;