.section-home {

    transition: all .2s;
    
    &__heading-large {
        font-size: 6rem;
        text-align: center;
        animation: moveInTop .5s ease-in;
    }

    &__heading-medium {
        font-size: 4    rem;
        text-align: center;
        animation: moveInTop .5s ease-in 0.5s;
    }

    &__background{
        background-color: $color-grey-dark;
        height: 50rem;
        width: auto;
    }
}