.projects {
    padding: 5rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    __project-container {
        border-left: .5rem;
        border-right: .5rem;
    }
    h3 {
        background-color: $color-green-secondary-dark;
        color: $color-white-primary;
        width: 20rem;
        padding: .5rem .5rem .5rem .5rem;
        font-size: 5rem;
        margin-left: 1rem;
    }
}
