.project-container {
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    // justify-content: center;
  padding: 0 15rem;
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 0.01rem solid black;
    border-right: 0.01rem solid black;

    h3 {
      background-color: $color-green-secondary-dark;
      color: $color-white-primary;
      width: 18rem;
      padding: 1rem;
      font-size: 4rem;
      margin-left: 1rem;
      margin-top: 1rem;
    }
  }
}
