@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
* {
  margin: 0;
}

body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}

.card {
  color: #EFEFEF;
  border-radius: 5rem;
  box-shadow: 0 0 1rem #3c3c3c;
}

.project-item {
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  width: fit-content;
  height: 10rem;
  border-radius: 3rem;
  box-shadow: 0 0 1rem #bbbbbb;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
}
.project-item__img-container {
  width: 6rem;
  height: 6rem;
  padding: 1.5rem 1.5rem 1rem 1rem;
}
.project-item__img-container img {
  width: 100%;
  height: 100%;
}
.project-item__text-container {
  padding-top: 0.5rem;
  padding-left: 1rem;
  width: 50rem;
}
.project-item__text-container h2 {
  padding-bottom: 1rem;
  font-size: 2rem;
}
.project-item__text-container p {
  font-size: 1.5rem;
}
.project-item__text-container a {
  text-decoration: none;
  font-size: 1.5rem;
  display: inline;
  color: #7db00f;
  line-height: 2.5rem;
}

.circular-icon {
  width: 10rem;
  height: 10rem;
  vertical-align: middle;
}
.circular-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.tool-list {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
  height: fit-content;
  justify-content: right;
}
.tool-list__card {
  color: #fff;
  margin: 0.5rem;
  font-size: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 4rem;
  box-shadow: 0 0 0.5rem #bbbbbb;
  background-color: #9fe801;
  font-weight: 900;
}
.tool-list__card:hover {
  transform: scale(1.05) translateY(-0.3rem);
}

.header {
  background-color: #272727;
  height: 5rem;
  width: auto;
  box-shadow: 0rem 0rem 1rem #272727;
}
.header__navbar {
  display: flex;
  color: #f2f2f2;
  padding: 1.5rem;
  padding-right: 5rem;
  float: right;
}
.header__navbar--item {
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
  margin-right: 2.5rem;
  transition: transform ease-in 0.2s;
}
.header__navbar--item:hover {
  text-decoration: underline #d5e801 0.2rem;
  text-underline-offset: 0.7rem;
  transform: translateY(-0.2rem);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-left: 10rem;
}
.about-row__icon {
  padding-top: 5rem;
  padding-left: 5rem;
  animation: moveInLeft 0.5s ease-in 0.1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.about-row__left-edge {
  width: 0.5rem;
  height: 10rem;
  margin-left: 10rem;
  margin-top: 5rem;
  border-radius: 0.2rem;
  background-image: linear-gradient(to right, #3c3c3c 60%, #7db00f 60%);
  animation: moveInLeft 0.3s ease-in 0.3s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.about-row__triangle {
  margin-top: 9rem;
  margin-left: 5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 0 1rem 1.6rem;
  border-color: transparent transparent transparent #9fe801;
  animation: moveInLeft 0.3s ease-in 0.4s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.about-row__text-box {
  padding-top: 5rem;
  padding-left: 5rem;
  text-align: left;
  width: 45rem;
  height: 20rem;
  color: #3c3c3c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  animation: moveInLeft 0.3s ease-in 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.about-row__city {
  width: 25rem;
  height: 15rem;
  animation: moveInLeft 0.5s ease-in 0.1s;
  animation-fill-mode: forwards;
  visibility: hidden;
  padding-right: 7rem;
}
.about-row__golden {
  width: 25rem;
  height: 18rem;
  animation: moveInLeft 0.5s ease-in 0.1s;
  animation-fill-mode: forwards;
  visibility: hidden;
  padding-right: 7rem;
}
.about-row__link {
  color: #7db00f;
  text-decoration: none;
}

.section-home {
  height: 100vh;
  width: 100vw;
  transition: all 0.2s;
  background-color: #fff;
}
.section-home__bg-color {
  background-image: linear-gradient(-60deg, #9fe801 34%, #7db00f 38%, #bbbbbb 30%, #f2f2f2 34%);
  margin-top: 7.5rem;
  height: 40rem;
  display: flex;
  box-shadow: 0rem 0rem 3rem #bbbbbb;
}
.section-home__left-box {
  height: 45rem;
  width: 70%;
  padding-left: 12rem;
  padding-top: 8rem;
  text-shadow: 0.1rem 0.1rem 0.2rem #bbbbbb;
}
.section-home__left-box__heading-small {
  width: 45rem;
  font-size: 4rem;
  animation: moveInRight 0.3s ease-in 0.1s;
  animation-fill-mode: forwards;
  visibility: hidden;
  color: #272727;
}
.section-home__left-box__heading-large {
  font-size: 7rem;
  width: 55rem;
  animation: moveInRight 0.3s ease-in 0.3s;
  animation-fill-mode: forwards;
  visibility: hidden;
  color: #272727;
}
.section-home__right-box {
  height: 45rem;
  width: 30%;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
}
.section-home__right-box__heading-medium {
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.2rem #7db00f;
  width: 15rem;
  font-size: 3rem;
  animation: moveInLeft 0.3s ease-in 0.5s;
  animation-fill-mode: forwards;
  color: #fff;
  visibility: hidden;
}
.section-home__right-box__anchor {
  text-align: center;
  color: #3c3c3c;
  font-size: 1.8rem;
  width: 15rem;
  margin-top: 3rem;
  text-decoration: none;
  background-color: white;
  border-radius: 10rem;
  transition: all 0.2s;
  box-shadow: 0.1rem 0.1rem 0.5rem #bbbbbb;
  animation: appear 0.3s ease-in 0.7s;
  animation-fill-mode: forwards;
  visibility: hidden;
  font-weight: 600;
}
.section-home__right-box__anchor:hover {
  transform: translateY(-0.2rem) scale(1.03);
}
.section-home__right-box__anchor:active {
  transform: translateY(0.2rem) scale(0.97);
  color: #272727;
}

.projects {
  padding: 5rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects __project-container {
  border-left: 0.5rem;
  border-right: 0.5rem;
}
.projects h3 {
  background-color: #7db00f;
  color: #fff;
  width: 20rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 5rem;
  margin-left: 1rem;
}

/*# sourceMappingURL=App.css.map */
